<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=1024, initial-scale=1.0">
	<title>The Byzantine Music Database</title>
</head>

{% block content %}{% endblock content %}

</html>
