{% extends "base" %}


{% block content %}
<h3><a href="/">Go back</a></h3>

<h1>{{ data.name }}</h1>

<h2>Compositions published here ({{ data.compositions | length }})</h2>
<ul>
	{% for c in data.compositions %}
	<li>
		<a href="/{{ c.id | trim_start_matches(pat='@') }}">{{ c.name }}</a>
	</li>
	{% endfor %}
</ul>
{% endblock content %}
